---
layout: page
---
{{ content }}
<p>
  <a href="{{ page.svg }}">
  <img style="max-width:100%;" src="{{ page.svg }}">
	</a>
</p>

{% comment %} https://stackoverflow.com/a/63032774/171898 explains this workaround {% endcomment %}
{% capture gv_contents %}
{% raw_include_relative {{ page.gv_file }} %}
{% endcapture %}

<p>
[<a href="{{page.gv_file}}">Input .gv File</a>]
[<a href="{{page.svg}}">SVG</a>]
[<a href="{{page.img_src}}">Raster Image</a>]
[<a href="http://magjac.com/graphviz-visual-editor/?dot={{ gv_contents | cgi_escape }}">Open in Playground</a>]
</p>

{% highlight dot %}
{{ gv_contents }}
{% endhighlight %}

<p>
<font size="1">
{{- page.copyright -}}
</font>
</p>
